*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(3, 94, 114) ;
}
.header {
  box-shadow: 0px 0px 10px aqua;
  display: flex;
  justify-content: space-between;
  background-color: #1b1919;
  padding: 20px;
  align-items: center;
}
h1{
  border-radius: 5px;
  padding: 8px;
  background: rgb(230, 0, 0);
  color: #fff;
  font-size: 25px;
  margin-right: 10px;
}
a{
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 25px;
  color: rgb(247, 9, 9);
}
.hero{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0px 0px 10px aqua;
}
.hero-img{
  width: 600px;
  height: 300px;
}
.section1{
  padding-top: 50px;
  padding-bottom: 50px;
}
.h2-sektion{
  color: rgb(230, 0, 0);
  padding-bottom: 50px;
  text-shadow:  2px 3px aqua ;
}
main{
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer {
  text-align: center;
  padding: 20px;
  color: rgb(230, 0, 0);
  background: #1b1919;
}
.header-btn{
  border: none;
  background-color: #f2f2f2;
}
.hero-p{
  font-size: 48px;
  color: rgb(230, 0, 0);
  font-family: cursive;
  text-decoration: underline;
}
.card {
  /* border: 1px solid rgb(230, 0, 0); */
  background: #f7f7f7 ;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px aqua;
}
.quantity {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
h2{
  margin-bottom: 10px;
}
h3{
  margin-bottom: 10px;
}
button {
  padding: 5px 10px;
  background-color: #eee;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.count {
  margin: 0 10px;
}
.price, .totalPrice {
  font-weight: bold;
}
.header-div{
  display: flex;
  align-items: center;
}
.price{
  margin-bottom: 10px;
}
.cards{
  display: grid;
  grid-template-columns: auto auto auto auto  ;
  gap: 30px;
}
.v{
  max-width: 1000px;
}
.h3-c{
  font-size: 33px;
  color: white;
  padding: 10px;
  background-color: rgb(230, 0, 0);
  border-radius: 10px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 600px;
  height: 400px;
  object-fit: cover;
}
@media only screen and (max-width: 1100px){

  .h3-c{
    display: none;
  }

}
@media only screen and (max-width: 1095px){

  .cards{
    grid-template-columns: auto auto auto;
  }

}

@media only screen and (max-width: 750px){

  .cards{
    grid-template-columns: auto  auto;
  }

}
@media only screen and (max-width: 650px){

  .hero-img{
  width: 350px;
  height: 150px;
  }

}
@media only screen and (max-width: 500px){

  .cards{
    grid-template-columns: auto  ;
  }

}